@model apidemo.Models.Faq

@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}

<h1>Add</h1>

<h4>Faq</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addForm" asp-action="Add">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FaqId" class="control-label">FaqId  (PK為GUID時應該由系統產生預設需先帶入)</label>
                <input asp-for="FaqId" class="form-control" />
                <span asp-validation-for="FaqId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label">Subject 主旨</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Content 內容</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontColorId" class="control-label">FontColorId 顏色相關FK GUID</label>
                @*<input asp-for="FontColorId" class="form-control" />*@
                <select asp-for="FontColorId" asp-items="ViewBag.SelectList">
                </select>
                <span asp-validation-for="FontColorId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCancel" /> @Html.DisplayNameFor(model => model.IsCancel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OrderNo" class="control-label"></label>
                <input asp-for="OrderNo" class="form-control" />
                <span asp-validation-for="OrderNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateEmployee" class="control-label"></label>
                <input asp-for="CreateEmployee" class="form-control" />
                <span asp-validation-for="CreateEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDepartment" class="control-label"></label>
                <input asp-for="CreateDepartment" class="form-control" />
                <span asp-validation-for="CreateDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDateTime" class="control-label"></label>
                <input asp-for="CreateDateTime" class="form-control" />
                <span asp-validation-for="CreateDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyEmployee" class="control-label"></label>
                <input asp-for="ModifyEmployee" class="form-control" />
                <span asp-validation-for="ModifyEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyDepartment" class="control-label"></label>
                <input asp-for="ModifyDepartment" class="form-control" />
                <span asp-validation-for="ModifyDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyDateTime" class="control-label"></label>
                <input asp-for="ModifyDateTime" class="form-control" />
                <span asp-validation-for="ModifyDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="Add()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



<script>

    function Add() {
        //加入驗證
        if ($("#addForm").valid()) {
            console.log('b');

            /*驗證成功，post the form data to server*/
        } else {
            console.log('a');
            return false;
        }
    }
</script>